table
{
    border-collapse: collapse;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

td {padding: 120px 200px;
border: 2px solid black;}
tr{
    border: 1px solid rgb(197, 6, 6);
}
.logo
{
    background-color: orange;
}
.menu
{
    background-color: orangered;
}
.news{
    background-color: peru;
    color: white;
}

.list
{
    background-color: orange;
}
.bar{
    background-color: black;
    color: blanchedalmond;
    width: 40%;
}
.footer{
    background-color: orange;
}