body {
    font-family: Roboto;

    display: flex;
}

.day-view {
    padding: 80px 140px;
    flex: 1535 0 0;
}

.aside { 
    padding: 80px 100px;
    flex: 802 0 0;
    color: #FFFFFF;
    background: rgba(42, 46, 65, 0.7);
    font-family: Roboto;
}

.separation {
    display: block;
    box-sizing: border-box;
    border: 0;
    height: 4px;
   margin-top: 43px;
    position: relative;
}

.separation::before {
    content: '';

    display: block;
    box-sizing: border-box;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;

    background: rgba(0, 0, 0, 0.17);
}

.separation::after {
    content: '';

    display: block;
    box-sizing: border-box;

    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;

    background: rgba(255, 255, 255, 0.12);
}

.day-view__title {
    display: flex;

    padding-bottom: 90px;

    border-bottom: 2px solid #F3F3F3;
}

.day-view__day-text {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;

    color: #243D6F;
}

.day-view__time-list {
    list-style: none;
    padding: 100px 0 0;
    margin: 0;
}

.day-view__time-row {
    position: relative;

    display: block;

    height: 120px;

    margin-left: 135px;

    border-bottom: 2px solid #F3F3F3;

    box-sizing: border-box;

    z-index: 1;
}

.day-view__time-key {
    position: absolute;
    top: 0;
    left: -135px;

    transform: translateY(-50%);

    font-weight: 500;
    font-size: 26px;
    line-height: 30px;


    color: #A4B0C3;

}

.day-view__event {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    padding: 12px 75px;

    background: rgba(133, 118, 237, 0.15);
    border-left: 6px solid #8576ED;

    box-sizing: border-box;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-weight: 500;
    font-size: 28px;
    line-height: 33px;

    color: #243D6F;

    z-index: 10;
}

.day-view__event--workshop {
    background: rgba(61, 131, 249, 0.15);
    border-color: #3D83F9;
}

.day-view__event--management {
    background: rgba(238, 165, 124, 0.15);
    border-color: #EEA57C;
}
.mainmonth{
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
}
.month{
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;

}
.separation{
    margin-top: 85px;
}
.mounthView__week{
    color: rgb(165, 163, 163);
}
.mmounthView__calenarTable{
    flex: 1 0 0 ;
  width: 100%;
  max-height: 500px;
   box-sizing: border-box;
  padding: 20px 0;
}
.mounthView__calenarTable{
    font-weight: 300;
    font-size: 13px;
    
}
td{
    width: 50px;
  text-align: center;
}
tr{
    height: 50px;
    padding: auto;
  }
  
td:hover{
    border-radius: 100%;
    background-color: #3C82F9;
  }
.separationsecond{
    margin-top: 100px;
    background: #000000;
mix-blend-mode: normal;
opacity: 0.17;
}
.categoris{
    margin-top: 100px;
    position: relative;
    width: 183px;
    height: 31px;
    font-weight: 500;
font-size: 20px;
line-height: 15px;
}
.plants{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 285px;
    height: 80px;
   font-size: 22px;
   line-height: 26px;
}
.finance{
    display: block;
  justify-content: center;
  align-items: center;
    font-size: 22px;
    line-height: 26px;
background: hsl(248, 77%, 70%);
padding: 15px 20px;
border-radius: 12px;
}
.managment{
    display: block;
    justify-content: center;
    align-items: center;
    background: #F39946;
    padding: 15px 20px;
border-radius: 12px;
}
.design{
    margin-top: 10px;
    display: block;
  justify-content: center;
  align-items: center;
    background: #FF467E;
    padding: 15px 20px;
border-radius: 12px;
}